.banner__imagem {
    background: url('../../img/banner.jpg') no-repeat center / cover ;
    /* background-position: center;
    background-size: cover;
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat; */
    width: 100%;
}

@media screen and (min-width: 0){
    .banner__imagem {
        height: calc(100vh - 51px); /* view port hate  -   Tamanho da janela do navegador*/ 
    }
}

@media screen and (min-width: 768px){
    .banner__imagem {
        height: calc(100vh - 72px); /* view port hate  -   Tamanho da janela do navegador*/ 
    }
}